body, #root, .app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url("./images/mountain-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#main {
    /* flex-grow: 1; */
    padding-top: 6rem;
    padding-bottom: 5rem;
}

* {
  letter-spacing: 1.4px !important;
  color: #fff5ee;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.raarxdeba-main-container {
  margin-top: 5rem !important;
}

.raarxdeba-main-container p {
  margin-top: 1rem !important;
}
